
.quiz{
  padding-top: 120px;
}

.quiz-wrapper{
  max-width: 920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  h2, p{
    width: 100%;
    text-align: center;
  }
  h2{
    margin-bottom: 24px;
  }
  p{
    margin-bottom: 80px;
    line-height: 175%;
  }
}

.questions-wrapper{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  overflow: hidden;
}
.questions{
  width: 100%;
  max-width: 920px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.nav-bar{
  width: 100%;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  .nav-button{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 2px inset #0093B9;
    transition: box-shadow .5s cubic-bezier(.2,1,.8,1);
    span{
      transition: color .5s cubic-bezier(.2,1,.8,1);
      position: relative;
      z-index: 1;
      font-size: 24px;
    }
    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      path{
        transition: fill .5s cubic-bezier(.2,1,.8,1);
      }
    }
    &.next, &.prev{
      padding: 30px;
    }
    &.submit{
      padding-top: 18px;
      padding-bottom: 18px;
      margin-right: 60px;
      margin-left: 60px;
      span{
        color: #ffffff;
      }
      &:before{
        opacity: 1;
      }
    }
    &.next{
      svg{
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
    &:hover{
      &:before{
        opacity: 1;
      }
      svg{
        path{
          fill: #ffffff;
        }
      }
    }
    &:disabled{
      box-shadow: 0 0 0 2px inset #BDBDBD;
      &:before{
        opacity: 0;
      }
      &:hover{
        &:before{
          opacity: 0;
        }
      }
      span{
        color: #BDBDBD;
      }
      svg{
        path{
          fill: #BDBDBD;
        }
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .5s cubic-bezier(.2,1,.8,1);
      background: linear-gradient(117.32deg, #0093B9 -13.56%, #00BAC5 97.5%);
      border-radius: 40px;
    }
    &:after{

    }
  }
}

.reveal-enter{
  opacity: 0.01;
}

.reveal-enter.reveal-enter-active{
  opacity: 1;
  transition: opacity .3s cubic-bezier(.2,.8,0,0), transform .3s cubic-bezier(.2,.8,0,0);
}

.reveal-leave{
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
}

.reveal-leave.reveal-leave-active{
  opacity: 0.01;
  transition: opacity .5s cubic-bezier(.2,.8,0,0), transform .5s cubic-bezier(.2,.8,0,0);
}
