<header class="header">
    <nav class="blue">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right">
                <li>
                    <a href="{{ path('admin_logout') }}" data-target="chat-dropdown" style="display: flex" class="waves-effect">
                        Выйти<i class="material-icons">exit_to_app</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>