<aside id="slide-out" class="sidebar sidenav sidenav-fixed">
    <nav class="sidebar-nav blue">
        <ul id="dropdown2" class="dropdown-content">
            {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                <li><a href="{{ path('admin_home') }}">Админ-панель</a></li>
            {% endif %}
            <li><a href="{{ path('app_homepage') }}" target="_blank">Сайт</a></li>
        </ul>
        <a class="dropdown-trigger" href="#" data-target="dropdown2" style="text-align: center; height: 100%">
            <img src="{{ asset('assets/images/logo.svg') }}" style="height: 80%; margin-top: 8px;">
        </a>
    </nav>
    <ul class="no-padding collapsible collapsible-accordion">
        <li class="bold waves-effect">
            <div class="collapsible-header white-text">
                    <span>
                        Тесты
                        <i class="material-icons white-text left">view_list</i>
                    </span>
                <i class="material-icons chevron white-text">chevron_left</i>
            </div>
            <div class="collapsible-body" >
                <ul>
                    <li><a href="{{ path('admin_quiz_index') }}" class="sidebar-link white-text">Все тесты<i class="material-icons white-text">description</i></a></li>
                    <li><a href="{{ path('admin_question_index') }}" class="sidebar-link white-text">Все вопросы<i class="material-icons white-text">help</i></a></li>
                    <li><a href="{{ path('admin_answer_index') }}" class="sidebar-link white-text">Все ответы<i class="material-icons white-text">question_answer</i></a></li>
                </ul>
            </div>
        </li>
    </ul>
</aside>