<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name=description content="
    {% block description %}
        {% trans %}META_DESCRIPTION{% endtrans %}
    {% endblock %}
    ">
    <meta name="theme-color" content="#AB7D59">
    <link rel="icon" type="image/png" href="{{ asset('dist/images/icons/favicon.png') }}" />
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<main>
    <section class="page">
        {% block body %}{% endblock %}
    </section>
</main>
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
</body>
</html>
