
.sidebar{
  width: 100%;
  max-width: 250px;
  min-height: calc(100% - 70px);
  background-color: #263544;
  transition: max-width .3s ease;
  a{
    color: #FFFFFF;
    text-decoration: none;
  }
}

.sidenav{
  .collapsible{

    li.waves-effect{
      display: block;
      .collapsible-header{
        height: 64px;
        line-height: 64px;
        display: flex;
        justify-content: space-between;
        .chevron{
          height: 24px;
          width: 24px;
          line-height: 24px;
          margin: 20px 0 0 0;
          transition: transform .2s;
        }
      }
      .collapsible-body{
        background-color: inherit;
        li{
          a{
            padding: 0 32px;
          }
        }
      }
      &.active{
        .collapsible-header{
          .chevron{
            transform: rotate(-90deg);
          }
        }
      }
      a{
        padding: 0 16px;
        //position: relative;
        //height: 64px;
      }
    }
  }

}

.sidebar-nav{
  display: flex;
  flex-direction: column;
}

.sidebar-link{
  padding: 14px 10px 14px 20px;
  border-radius: 0;
  transition: background-color .3s ease;
  &.router-link-exact-active{
    background-color: #1d2531;
  }
}