{% extends '@Admin/base.html.twig' %}

{% block title %}
    Admin Panel
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m12">
            {#{% if enquiries is empty %}#}
                {#<h5>Главная | Заявок пока ещё нет</h5>#}
            {#{% else %}#}
                <div class="row">
                    <h4>Последние заявки</h4>
                </div>
            {#<div class="color-picker" acp-color="#EFE9E7" ></div>#}
                <div class="row">
{#                    {% for enquiry in enquiries %}#}

{#                        <div class="col s12 m3">#}
{#                            <div class="card">#}
{#                                <div class="card-content">#}
{#                                    <p><b>Имя :</b> {{ enquiry.name }}</p>#}
{#                                    <p><b>Телефон :</b><a href="tel:{{ enquiry.phone }}">{{ enquiry.phone }}</a></p>#}
{#                                    <p><b>Дата :</b> {{ enquiry.date | date('d.m.Y H:i') }}</p>#}
{#                                </div>#}
{#                                <div class="card-action">#}
{#                                    <a class="btn btn-small light-blue waves-effect waves-light"#}
{#                                       href="{{ path('enquiry_show', { 'id': enquiry.id }) }}">#}
{#                                        <i class="material-icons right">remove_red_eye</i>#}
{#                                        Открыть#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
                </div>
                <ul>
{#                    <li>#}
{#                        <a class="btn btn-small btn-flat waves-effect waves-light" href="{{ path('enquiry_index') }}">#}
{#                            Посмотреть все заявки#}
{#                            <i class="material-icons right">arrow_forward</i>#}
{#                        </a>#}
{#                    </li>#}
                </ul>
            {#{% endif %}#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
