<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<main>
    <section class="page">
        {% block body %}{% endblock %}
    </section>
</main>
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
</body>
</html>
