{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin panel</h1>

    <ul>
        <li>
            <a href="{{ path('app_quiz_index') }}">Quizzes list</a>
        </li>
        <li>
            <a href="{{ path('app_question_index') }}">Questions list</a>
        </li>
        <li>
            <a href="{{ path('app_answer_index') }}">Answers list</a>
        </li>
    </ul>
{% endblock %}
