{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Редактировать вопрос</h5>
    <a href="{{ path('admin_quiz_edit', { 'id': question.quiz.id }) }}" class="waves-effect waves-light btn-small">
        <i class="material-icons right">arrow_left</i>
        Вернуться к тесту
    </a>
    <button class="add-record btn btn-small">
        <i class="material-icons right">library_add</i>
        Добавить ответ
    </button>

    {{ form_start(edit_form) }}
    <h6>Ответы:</h6>
    <div id="multiple-list" class="row"
         data-prototype="{{ form_widget(edit_form.answers.vars.prototype)|e('html_attr') }}">
        {% for answer in edit_form.answers %}
            <div class="col s12 m4 removable saved">
                {{ form_widget(answer.text) }}
                <label>
                    {{ form_widget(answer.valid) }}
                    <span>Правильный</span>
                </label>
                <div>
                    <button type="button" class="btn btn-small delete-form red darken-3">Удалить</button>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ form_widget(edit_form) }}
    <button class="btn-small btn" type="submit">Сохранить</button>
    {{ form_end(edit_form) }}
{% endblock %}
