{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Список вопросов</h5>
    <a class="btn btn-small" href="{{ path('admin_question_new') }}">
        <i class="material-icons right">library_add</i>
        Добавить
    </a>

    <table>
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Text</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
{#                <td><a href="{{ path('admin_question_show', { 'id': question.id }) }}">{{ question.id }}</a></td>#}
                <td>{{ question.text }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_question_show', { 'id': question.id }) }}">Показать</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_question_edit', { 'id': question.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
