{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Создать вопрос</h5>
    <a class="btn btn-small" href="{{ path('admin_question_index') }}">
        <i class="material-icons right">arrow_left</i>
        Вернуться к списку
    </a>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn-small btn" type="submit">Сохранить</button>
    {{ form_end(form) }}

{% endblock %}
