{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Вопрос</h5>

    <table>
        <tbody>
            <tr>
                <th>Текст</th>
                <td>{{ question.text }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_question_index') }}">Обратно к списку</a>
        </li>
    </ul>
{% endblock %}
