<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {{ encore_entry_link_tags('admin') }}
    </head>
    <body class="has-fixed-sidenav">
    <section class="admin-app-root">
        {% include '@Admin/partials/header.html.twig' %}
        {% include '@Admin/partials/sidebar.html.twig' %}

        <section class="content-wrapper">
            {% block body %}

            {% endblock %}
        </section>

        {% include '@Admin/modals/index.html.twig' %}

    </section>
        {{ encore_entry_script_tags('admin') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
