* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html, body {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.content-wrapper {
  background-color: rgba(242, 247, 251, 1);
  width: 100%;
  min-height: calc(100% - 64px);
  padding: 0 2% 5%;
}

.row-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .col{
    margin-left: initial !important;
  }
}

.record-image-container{
  display: flex;
  flex-wrap: wrap;
  .file-field, .image-container{
    flex: 1;
  }
  .image-container{
    .image-label{
      display: flex;
      justify-content: space-between;
    }
    img{
      max-width: 95%;
      max-height: 400px;
    }
  }
}

.odd-even{
  tbody{
    tr{
      &:nth-child(odd){
        background-color: rgba(255,255,255,0.5);
      }
    }
  }
}

.btn-small{
  font-size: 11px;
}

.removable{
  margin-bottom: 20px;
}

@media only screen and (min-width: 993px) {
  body.has-fixed-sidenav {
    padding-left: 250px;
  }
}