.security-section{
  min-height: 100%;
  height: 100%;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.login-form{
  background-color: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
}

.form-controls{
  margin-bottom: 12px;
  &:nth-last-child(1){
    margin-bottom: 0;
  }
}

.login-button{
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 5px 8px;
  outline: none;
  background-color: #42a5f5;
}