{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Редактировать ответ</h5>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form.text) }}
    <label>
        {{ form_widget(edit_form.valid) }}
        <span>Правильный</span>
    </label>
    <button class="btn btn-small" type="submit">Сохранить</button>
    {{ form_end(edit_form) }}

{#    <ul>#}
{#        <li>#}
{#            <a href="{{ path('admin_answer_index') }}">Back to the list</a>#}
{#        </li>#}
{#        <li>#}
{#            {{ form_start(delete_form) }}#}
{#                <input type="submit" value="Delete">#}
{#            {{ form_end(delete_form) }}#}
{#        </li>#}
{#    </ul>#}
{% endblock %}
