{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Список ответов</h5>

    <table>
        <thead>
            <tr>
                <th>Текст</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.text }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_answer_show', { 'id': answer.id }) }}">Показать</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_answer_edit', { 'id': answer.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_answer_new') }}">Добавить новый</a>
        </li>
    </ul>
{% endblock %}
