{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Создать ответ</h5>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_answer_index') }}">Обратно к списку</a>
        </li>
    </ul>
{% endblock %}
