{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Ответ</h5>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Текст</th>
                <td>{{ answer.text }}</td>
            </tr>
            <tr>
                <th>Правильный</th>
                <td>{% if answer.valid %}Да{% else %}Нет{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_answer_index') }}">Обратно к списку</a>
        </li>
        <li>
            <a href="{{ path('admin_answer_edit', { 'id': answer.id }) }}">Редактировать</a>
        </li>
    </ul>
{% endblock %}
