{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Редактировать тест {{ quiz.name }}</h5>
    <a href="{{ path('admin_quiz_index') }}" class="waves-effect waves-light btn-small">
        <i class="material-icons right">arrow_left</i>
        Вернуться к списку
    </a>
    <button class="add-record btn btn-small">
        <i class="material-icons right">library_add</i>
        Добавить вопрос
    </button>
    {{ form_start(edit_form) }}

    {{ form_widget(edit_form.name) }}
    <div id="multiple-list" class="row"
         data-prototype="{{ form_widget(edit_form.questions.vars.prototype)|e('html_attr') }}">
        {% for question in edit_form.questions %}
            <div class="col s12 m12 removable saved">
                <h6>{{ quiz.questions[loop.index0].text }}</h6>

                <div style="display: none;">{{ form_widget(question.text) }}{{ form_widget(question.answers) }}</div>

                <a class="btn btn-small" href="{{ path('admin_question_edit', {'id':  quiz.questions[loop.index0].id }) }}">
                    Редактировать
                </a>
                <button type="button" class="btn btn-small delete-form red darken-3">Удалить</button>
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn-small btn">Сохранить</button>
    {{ form_end(edit_form) }}
{% endblock %}
