{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Все тесты</h5>
    <a href="{{ path('admin_quiz_new') }}" class="waves-effect waves-light btn-small">
        <i class="material-icons right">library_add</i>
        Добавить
    </a>
    <div class="row">
        {% for quiz in quizzes %}
            <div class="col s12 m4" id="record-{{ quiz.id }}">
                <div class="card">
                    <div class="card-content">
                        <h5>
                            {{quiz.name}}
                        </h5>
                        <p>
                            Вопросов: {{ quiz.questions | length }}
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="btn btn-small waves-effect waves-light"
                           href="{{ path('admin_quiz_edit', { 'id': quiz.id }) }}">
                            <i class="material-icons right">remove_red_eye</i>
                            Открыть
                        </a>
                        <a class="btn btn-small waves-effect waves-light red lighten-2 modal-trigger"
                           data-url="{{ path('admin_quiz_delete', { 'id': quiz.id }) }}"
                           href="#modal-delete">
                            <i class="material-icons right">delete_sweep</i>
                            Удалить
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
