{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Создание теста</h5>
    <a href="{{ path('admin_quiz_index') }}" class="waves-effect waves-light btn-small">
        <i class="material-icons right">arrow_left</i>
        Вернуться к списку
    </a>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit" class="btn btn-small"> Сохранить </button>
    {{ form_end(form) }}
{% endblock %}
