{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h5>Quiz</h5>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ quiz.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_quiz_index') }}">Обратно к списку</a>
        </li>
        <li>
            <a href="{{ path('admin_quiz_edit', { 'id': quiz.id }) }}">Редактировать</a>
        </li>
    </ul>
{% endblock %}
