{% extends '@App/base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <section class="home">
        <div id="app"></div>
    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}
