
.fields-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  p {
    width: 50%;
  }
}

@media (max-width: 760px) {
  .fields-wrapper {
    p {
      width: 100%;
    }
  }
}
