<div id="modal-delete" class="modal">
    <div class="modal-content">
        <h5>Вы уверенны?</h5>
        <p>Это действие нельзя будет отменить!</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Нет, спасибо</a>
        <a href="#!" id="confirmDelete" class="modal-close waves-effect waves-green btn-flat red-text">OK</a>
    </div>
</div>