.question{
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  transition: all .8s cubic-bezier(.2, 1, .8, 1);
  h4{
    width: 100%;
    padding-bottom: 24px;
    margin: 0;
  }
  .answers-wrapper{
    width: 100%;
  }
}