{% extends '@Admin/security/base.html.twig' %}

{% block title %}

    Admin Forgot Password

{% endblock %}

{% block body %}

    <section class="security-section register">

        <div class="register-form-wrapper" style="position: relative;">
            {{ form_start(form) }}
            <p style="max-width: 300px; font-size: 11px;">На указанный вами Email будут высланы инструкции к дальнейшим действиям</p>
            {{ form_row(form.username) }}
            <button class="btn waves-effect waves-light light-blue" type="submit">Отправить</button>
            {{ form_end(form) }}
        </div>

    </section>

{% endblock %}