{% extends '@Admin/security/base.html.twig' %}

{% block title %}
   Admin Login
{% endblock %}

{% block body %}

    <section class="security-section login">

        <form class="login-form" action="{{ path('admin_login') }}" method="post">
            <div class="form-controls">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            <div class="form-controls">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="_password"/>
            </div>
            <div class="form-controls">
                <button class="btn" type="submit">Войти</button>
            </div>
            <a href="{{ path('admin_lost_password') }}">Забыли пароль?</a>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>

    </section>

{% endblock %}