
{% extends '@Admin/security/base.html.twig' %}

{% block title %}

    Admin Forgot Password

{% endblock %}

{% block body %}

    <section class="security-section register">

        <div class="register-form-wrapper" style="position: relative;">
            {{ form_start(form) }}
            {{ form_row(form.password.first) }}
            {{ form_row(form.password.second) }}
            <button class="btn waves-effect waves-light light-blue" type="submit">Сохранить</button>
            {{ form_end(form) }}
        </div>

    </section>

{% endblock %}