
{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    <h6>Переводы</h6>
    <div class="a2lix_translations tabbable">
        <ul class="collapsible expandable ">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                {#<li class="{% if app.request.locale == locale %}active{% endif %}">#}
                <li class="active">
                    <div class="collapsible-header">
                        <a href="#{{ translationsFields.vars.id }}_a2lix_translations-fields" data-toggle="tab">
                            {{ translationsFields.vars.label|default(locale|humanize)|trans }}
                            {% if form.vars.default_locale == locale %}{{ form.vars.default_label|default('[Основной]')|trans }}{% endif %}
                            {% if translationsFields.vars.required %}*{% endif %}
                        </a>
                    </div>
                    <div class="collapsible-body">
                        <div id="{{ translationsFields.vars.id }}_a2lix_translations-fields" class="tab-pane {% if app.request.locale == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}">
                            {{ form_errors(translationsFields) }}
                            {{ form_widget(translationsFields) }}
                        </div>
                    </div>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}

{#{% block a2lix_translations_widget %}#}
    {#{{ form_errors(form) }}#}
    {#<div class="a2lix_translations tabbable">#}
        {#<ul class="a2lix_translationsLocales nav tabs z-depth-2 ">#}
            {#{% for translationsFields in form %}#}
                {#{% set locale = translationsFields.vars.name %}#}

                {#<li class="{% if app.request.locale == locale %}active{% endif %} tab">#}
                    {#<a href="#{{ translationsFields.vars.id }}_a2lix_translations-fields" data-toggle="tab">#}
                        {#{{ translationsFields.vars.label|default(locale|humanize)|trans }}#}
                        {#{% if form.vars.default_locale == locale %}{{ form.vars.default_label|default('[Default]')|trans }}{% endif %}#}
                        {#{% if translationsFields.vars.required %}*{% endif %}#}
                    {#</a>#}
                {#</li>#}
            {#{% endfor %}#}
        {#</ul>#}

        {#<div class="a2lix_translationsFields tab-content">#}
            {#{% for translationsFields in form %}#}
                {#{% set locale = translationsFields.vars.name %}#}
                {#<div id="{{ translationsFields.vars.id }}_a2lix_translations-fields" class="tab-pane {% if app.request.locale == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}">#}
                    {#{{ form_errors(translationsFields) }}#}
                    {#{{ form_widget(translationsFields) }}#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}

{#{% block a2lix_translationsForms_widget %}#}
    {#{{ block('a2lix_translations_widget') }}#}
{#{% endblock %}#}


