.answer {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #D9D9D9;
  border-radius: 8px;
  padding: 14px;
  margin-top: 24px;
  transition: all .8s cubic-bezier(.2, 1, .8, 1);
  cursor: pointer;
  .circle{
    margin-right: 24px;
    display: inline-block;
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 3px solid #0093B9;
    box-sizing: border-box;
    &:after{
      position: absolute;
      content: '';
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: #0093B9;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s cubic-bezier(.2, 1, .8, 1), visibility .3s cubic-bezier(.2, 1, .8, 1);
    }
  }
  &.selected {
    border: 2px solid #2A2A2A;
    .circle{
      &:after{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &.correct{
    background: rgba(36, 206, 94, 0.16);
  }
  &:hover{
    background: rgba(0, 186, 197, 0.16);
  }
}